h1 {
    text-align: center;
    color: #795548; 
}
a:link {
  color: #795548;
}
a:visited {
  color: #5D4037;
}
a:hover {
  color: #FFC107;
}
a:active {
  color: yellow;
}
p {
    font-family: 'open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #212121;
}